<link rel='stylesheet' type='text/css' media='screen' href='css/bootstrap.min.css'>
<div class="container" ng-controller="ExpensesViewController">
    <div>&nbsp;</div>
    <ul class="list-group">
        <li class="list-group-item bg-secondary">Expenses View</li>         
        <table class="table"> 
            <thead> 
                <tr> 
                    <th class="text-left">Date</th> 
                    <th>Description</th> 
                    <th class="text-center">Amount</th> 
                </tr>                 
            </thead>             
            <tbody> 
                <tr ng-repeat="expense in expenses"> 
                    <td class="text-left">{{expense.date | date}}</td> 
                    <td>{{expense.description | uppercase}}</td> 
                    <td class="text-center">{{expense.amount | currency}}</td>
                    <col class="pg-empty-placeholder"> 
                </tr>                 
            </tbody>             
        </table>
        <li class="list-group-item bg-secondary bg-secondary bg-secondary bg-secondary bg-secondary bg-secondary bg-secondary bg-secondary bg-secondary"> </li>         
    </ul>
</div>
